@charset "utf-8";

/* 全体 */

body {
  background-color: #DCDCDC;
}

p {
  line-height: 1.5;
}

#profile h2,
#skill h2,
#works h2,
#contact h2 {
  font-size: 36px;
  font-family: cursive;
  padding-top: 60px;
  text-align: center;
}

.wrapper {
  margin-left: 200px;
  margin-right: 200px;
  font-family: 'メイリオ', 'Meiryo';
}


/* ヘッダー */

#header {
  position: sticky;
  top: 0;
  background-color: #bdd9d7;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'メイリオ', 'Meiryo';
  z-index: 1000;
}

#header h1 {
  line-height: 1.5;
  margin-left: 100px;
}

#menu {
  margin-right: 50px;
}

#menu a {
  text-decoration: none;
  color: black;
}

#menu li {
  display: inline;
  margin: 0 10px;
}

.sp-menu {
  display: none;
  margin-left: auto;
  margin-right: 50px;
}

.sp-menu #open {
  font-size: 36px;
  line-height: 1.5;
  cursor: pointer;
}

.sp-menu #open.hide {
  display: none;
}


.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(189, 217, 215, 0.95);
  z-index: 2000;
  text-align: center;
  padding: 64px;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s;
}

.overlay.show {
  opacity: 1;
  pointer-events: auto;
}

.overlay #close {
  position: absolute;
  top: 16px;
  right: 50px;
  font-size: 36px;
  cursor: pointer;
}

.overlay li {
  margin-top: 24px;
  opacity: 0;
  transform: translateY(16px);
  transition: opacity .3s, transform .3s;
}

.overlay.show li {
  opacity: 1;
  transform: none;
}

.overlay.show li:nth-child(1) {
  transition-delay: .1s;
}

.overlay.show li:nth-child(2) {
  transition-delay: .2s;
}

.overlay.show li:nth-child(3) {
  transition-delay: .3s;
}

.overlay.show li:nth-child(4) {
  transition-delay: .4s;
}

.overlay a {
  text-decoration: none;
  color: black;
}

/* メイン */

#main {
  width: 100%;
  scroll-margin-top: 80px;
}

#main-pic {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  z-index: 0;
}

/* 画像（背景） */
#main-pic .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 0;
}

/* テキスト（上に固定） */
.main-text {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: black;
  text-align: center;
  z-index: 10;
}

.main-text h1 {
  font-size: 36px;
  padding: 16px;
  text-shadow:
    1px 1px 0 white, -1px -1px 0 white,
    /* 右下方向に影 */
    -1px 1px 0 white, 1px -1px 0 white,
    /* 左下方向に影 */
    1px 0 0 white, -1px 0 0 white,
    /* 左上方向に影 */
    0 1px 0 white, 0 -1px 0 white;
  /* 右上方向に影 */
}

/* 1枚目 */
.pic1 {
  animation: fade1 15s infinite;
}

/* 2枚目 */
.pic2 {
  animation: fade2 15s infinite;
}

/* 1枚目 */
@keyframes fade1 {
  0% {
    opacity: 1;
  }

  40% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  90% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* 2枚目 */
@keyframes fade2 {
  0% {
    opacity: 0;
  }

  40% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  90% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


/* 自己紹介 */

#profile {
  background-color: #EAA8A8;
  width: 100%;
  height: 400px;
  scroll-margin-top: 80px
}

#profile .profile-area {
  display: flex;
  justify-content: center;
}

#profile .profile-img {
  width: 300px;
  height: 300px;
}

#profile .profile-area .wrapper {
  margin: 50px 0;
  width: 500px;
}


/* 自分にできること */

#skill {
  background-color: #F7F0E5;
  width: 100%;
  height: 400px;
  scroll-margin-top: 80px
}

#skill .skill-area {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
  gap: 30px;
}

#skill .skill-1,
#skill .skill-2 {
  width: 400px;
  border: 5px solid #DCDCDC;
  border-radius: 8px;
  padding: 20px;
}

#skill h3 {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  padding-bottom: 16px;
}

/* 制作物 */

#works {
  margin-bottom: 146px;
  scroll-margin-top: 80px
}

#works .works-title {
  height: 146px;
}

/* 作品 */

#works .work {
  display: flex;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
}

#works .reversed {
  flex-direction: row-reverse;
}

#works .work-pics {
  background-color: #F3DC6A;
  width: 48%;
  height: 300px;
  margin: 8px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: transform 0.3s ease;
  /* ← ふわっとさせる */
}

#works .work-pics:hover {
  transform: translateY(-10px);
  /* ← 上に少し動く */
}

#works .work-pics .work-pic-1 {
  width: 40%;
  min-width: 240px;
}

#works .work-pics .work-pic-2 {
  width: 25%;
  min-width: 150px;
}

.work-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#works .work-text {
  background-color: #BEDBED;
  width: 425px;
  height: 300px;
  margin: 8px;
  padding: 24px;
  border-radius: 30px;
  font-family: 'メイリオ', 'Meiryo';
}

#works .work-text h3 {
  text-align: center;
  font-size: 24px;
  font-family: "HG丸ｺﾞｼｯｸM-PRO";
}

#works .work-text a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;

  /* 動き用 */
  transition: transform 0.3s ease;
}

/* 下線（最初は見えない） */
#works .work-text a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: black;

  /* 下線のアニメーション */
  transition: width 0.3s ease;
}

/* ホバー時 */
#works .work-text a:hover {
  transform: translateY(-3px);
  /* ふわっと上に */
}

#works .work-text a:hover::after {
  width: 100%;
  /* 下線が広がる */
}


#works .work-comment {
  display: flex;
  align-items: center;
  height: 204px;
}




/* お問い合わせ */

#contact {
  background-color: #EAA8A8;
  width: 100%;
  height: 400px;
  scroll-margin-top: 80px
}

#contact .contact-area {
  display: flex;
  justify-content: center;
}

#contact .contact-area .wrapper {
  margin: 50px 0 0 0;
  width: 400px;
}


#contact .contact-img {
  width: 300px;
  height: 300px;
}

.contact-area1 {
  text-align: center;
}

.contact-area1 a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: inherit;

  /* 動き用 */
  transition: transform 0.3s ease;
}

/* ホバー時 */
.contact-area1 a:hover {
  transform: translateY(-3px);
  /* ふわっと上に */
}

.contact-area1 #mail {
  font-size: 64px;
  line-height: 1.5;
  cursor: pointer;
}

/* フッター */

#footer {
  background-color: #BDD9D7;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer small {
  font-size: 8px;
}


/* スマホバージョン */

@media (max-width: 900px) {

  /* 全体 */

  .wrapper {
    width: 80%;
    max-width: 525px;
    margin: 0 auto;
  }

  p.wrapper {
    font-size: 14px;
  }

  /* ヘッダー */

  #header h1 {
    margin-left: 50px;
  }

  .pc-menu {
    display: none;
  }

  .sp-menu {
    display: block;
    margin-left: auto;
    margin-right: 50px;
  }


  /* メイン */
  #main-pic {
    height: 500px;
  }

  .main-text h1 {
    font-size: 24px;
    padding: 16px;
  }

  .main-text p {
    font-size: 18px;
  }



  /* 自己紹介 */

  #profile {
    height: 500px;
  }

  #profile .profile-area {
    display: block;
    margin: 0 auto;

  }

  #profile .profile-img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  #profile .profile-area .wrapper {
    width: 80%;
    max-width: 525px;
    margin: 0 auto;
  }


  /* 自分にできること */

  #skill {
    height: 500px;
  }

  #skill .skill-area {
    display: block;
    width: 100%;
    max-width: 440px;
    margin: 50px auto;
    padding: 0 30px;
  }

  #skill .skill-1,
  #skill .skill-2 {
    width: 100%;
    border: 5px solid #DCDCDC;
    border-radius: 8px;
    padding: 20px;
  }

  #skill .skill-1 {
    margin-bottom: 20px;
  }


  #skill h3 {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 16px;
  }

  #skill .skill-area p {
    font-size: 14px;
  }



  /* 制作物 */

  #works .work-comment {
    justify-content: center;
    font-size: 14px;
  }

  #works .work {
    display: block;
    margin: 0 auto;
    padding-bottom: 16px;
  }

  #works .work-pics:hover {
    transform: none;
  }

  #works .work:last-child {
    padding-bottom: 0;
  }


  #works .work-pics,
  #works .work-text {
    width: 84%;
    height: 250px;
    margin: 0 auto;
    border-radius: 0;
  }


  #works .work-pics {
    border-radius: 30px 30px 0 0;
  }

  #works .work-pics .work-pic-1 {
    width: 55%;
    min-width: 0;
    max-width: 297px;
  }

  #works .work-pics .work-pic-2 {
    width: 35%;
    min-width: 0;
    max-width: 189px;
  }


  #works .work-text {
    border-radius: 0 0 30px 30px;
  }




  /* 問い合わせ */

  #contact {
    height: 500px;
  }

  #contact .contact-area {
    flex-direction: column-reverse;
    align-items: center;
  }

  #contact .contact-img {
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }

  #contact .contact-area1 {
    width: 100%;
  }

  #contact .contact-area .wrapper {
    width: 80%;
    max-width: 350px;
    margin: 0 auto;
  }



}